<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALFPSStatusDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0379E5C1D3F4F280026976A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0379E781D3F4F280026976A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0379E831D3F4F280026976A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
